/* app/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'swiper/css';
@import 'swiper/css/navigation';


@font-face {
  font-family: 'PrimaryFont';
  src: url('../public/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'SecondaryFont';
  src: url('../public/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'SecondaryFont', sans-serif;
  /* Adjust this value according to the header height */
  /* padding-top: 100px; */
}